name: karakeep
 
services:
  karakeep:
    image: ghcr.io/karakeep-app/karakeep:release
    restart: unless-stopped
    volumes:
      - /DATA/AppData/$AppID/data:/data
    ports:
      - 3000:3000
    environment:
      - MEILI_ADDR=http://meilisearch:7700
      - BROWSER_WEB_URL=http://chrome:9222
      - NEXTAUTH_SECRET=tP7D8lVZcUtXLVEhnkzmnixGXFYs63AoT6zxTVsieC9Qu3tQ
      - MEILI_MASTER_KEY=XDbKtrYktV9iNjYH2ifdKUwaLgtrYN/VEK77EFbQS4WGQW9S
      - NEXTAUTH_URL=http://localhost:3000

  chrome:
    image: gcr.io/zenika-hub/alpine-chrome:123
    restart: unless-stopped
    command:
      - --no-sandbox
      - --disable-gpu
      - --disable-dev-shm-usage
      - --remote-debugging-address=0.0.0.0
      - --remote-debugging-port=9222
      - --hide-scrollbars
  meilisearch:
    image: getmeili/meilisearch:v1.13.3
    restart: unless-stopped
    environment:
      - MEILI_NO_ANALYTICS=true
      - MEILI_MASTER_KEY=XDbKtrYktV9iNjYH2ifdKUwaLgtrYN/VEK77EFbQS4WGQW9S
    volumes:
      - /DATA/AppData/$AppID/meilisearch:/meili_data


# CASAOS ENVIRONMENT VARIABLES AND METADATA     

x-casaos:
  architectures:
    - amd64
  main: karakeep
  description:
    en_us: Karakeep (previously Hoarder) is a self-hostable bookmark-everything app with a touch of AI for the data hoarders out there.
  developer: Mohamed Bassem
  
  # Icon URL for the application
  icon: https://github.com/homarr-labs/dashboard-icons/blob/main/png/karakeep.png
  thumbnail: https://cdn.jsdelivr.net/gh/homarr-labs/dashboard-icons/png/karakeep.png
  title:
    en_us: Karakeep
  # Category under which the application falls
  category: Personal Apps

