name: karakeep
services:
  web:
    image: ghcr.io/karakeep-app/karakeep:${KARAKEEP_VERSION:-release}
    restart: unless-stopped
    volumes:
      # By default, the data is stored in a docker volume called "data".
      # If you want to mount a custom directory, change the volume mapping to:
      # - /path/to/your/directory:/data
      - /DATA/AppData/$AppID/data:/data
    ports:
      - 3180:3000
    # env_file:
      - .env
    environment:
      MEILI_ADDR: http://meilisearch:7700
      BROWSER_WEB_URL: http://chrome:9222
      # OPENAI_API_KEY: ...

      # You almost never want to change the value of the DATA_DIR variable.
      # If you want to mount a custom directory, change the volume mapping above instead.
      DATA_DIR: /data # DON'T CHANGE THIS
  chrome:
    image: gcr.io/zenika-hub/alpine-chrome:124
    restart: unless-stopped
    command:
      - --no-sandbox
      - --disable-gpu
      - --disable-dev-shm-usage
      - --remote-debugging-address=0.0.0.0
      - --remote-debugging-port=9222
      - --hide-scrollbars
  meilisearch:
    image: getmeili/meilisearch:v1.13.3
    restart: unless-stopped
    #env_file:
    #  - .env
    environment:
      MEILI_NO_ANALYTICS: "true"
      MEILI_ADDR=http://127.0.0.1:7700
      MEILI_MASTER_KEY=[generate with <openssl rand -base64 36 | tr -dc 'A-Za-z0-9'>]
      NEXTAUTH_URL=http://localhost:3180
      NEXTAUTH_SECRET=[generate with <openssl rand -base64 36>]
    volumes:
      - /DATA/AppData/$AppID/meilisearch:/meili_data

#volumes:
#  meilisearch:
#  data:


# CASAOS ENVIRONMENT VARIABLES AND METADATA     

x-casaos:
  architectures:
    - amd64
  main: karakeep
  description:
    en_us: Karakeep (previously Hoarder) is a self-hostable bookmark-everything app with a touch of AI for the data hoarders out there.
  developer: Mohamed Bassem
  
  # Icon URL for the application
  icon: https://cdn.jsdelivr.net/gh/homarr-labs/dashboard-icons/png/karakeep.png
  # Thumbnail image for the application (if any)
  thumbnail: ""
  # Title for the application
  title:
    en_us: Karakeep
  # Category under which the application falls
  category: Utilities

