name: noobs-gluetun
services:
  gluetun:
    image: qmcgaw/gluetun:v3.41.0
    container_name: gluetun
    cap_add:
      - NET_ADMIN # This allows the container to perform network operations.
    devices:
      - /dev/net/tun:/dev/net/tun # Map the TUN device, required for VPNs.
    ports:
      - 8888:8888/tcp # HTTP proxy port mapping.
      - 8388:8388/tcp # Shadowsocks TCP port mapping.
      - 8388:8388/udp # Shadowsocks UDP port mapping.
    volumes:
      - /DATA/AppData/$AppID/data:/gluetun # Map the data directory.
    # Define environment variables for the container.
    environment:
      # Specify the VPN service provider.
      - VPN_SERVICE_PROVIDER=custom
      - VPN_TYPE=wireguard      
      - WIREGUARD_ENDPOINT_IP=
      - WIREGUARD_ENDPOINT_PORT=
      - WIREGUARD_PUBLIC_KEY=
      - WIREGUARD_PRIVATE_KEY=
      - WIREGUARD_PRESHARED_KEY=
      - WIREGUARD_ADDRESSES=10.8.0.5/24
      # Specify the timezone for accurate log timestamps.
      - TZ=Asia/Singapore

# CASAOS ENVIRONMENT VARIABLES AND METADATA     
    x-casaos:
      envs:
        - container: VPN_SERVICE_PROVIDER
        - container: VPN_TYPE
      volumes:
        - container: /gluetun
      ports:
        - container: "8888"
        - container: "8388"
        - container: "8388"

x-casaos:
  # Supported CPU architectures for this application
  architectures:
    - amd64
  # Main service for this application
  main: gluetun
  # Detailed description for the application
  description:
    en_us: VPN client for your Arr Stack
  # Brief tagline for the application
  tagline:
    en_us: Trying to make VPNs easy for everyone
  # Developer's information
  developer: QMcGaw
  
  # Icon URL for the application
  icon: https://cdn.jsdelivr.net/gh/homarr-labs/dashboard-icons/png/gluetun.png
  # Thumbnail image for the application (if any)
  thumbnail: ""
  # Title for the application
  title:
    en_us: Gluetun
  # Category under which the application falls
  category: NoobTester
  # Default port mapping for the application
  port_map: ""